.containerDescribeCharacters {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerCharacterList {
    width: 98%;
}

.containerCharacterInfo {
    border: 2px solid var(--font-highlight);
    border-radius: .3rem;
    padding: .3rem;
    margin-bottom: 1.5rem;
}
.containerCharacterInfo:last-child {
    margin-bottom: 0;
}

.containerCharacterHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: .5rem;
    margin-bottom: .4rem;
}

.containerCharacterHeader b {
    font-size: clamp(1.2rem, 1.0041rem + 0.9796vw, 1.8rem);
    margin-bottom: .3rem;
}

.containerCharacterHeader button {
    padding: 0;
    padding-bottom: .3rem;
    padding-left: .2rem;
    padding-right: .2rem;
    font-size: clamp(0.95rem, 0.8357rem + 0.5714vw, 1.3rem);
    color: var(--font-warning);
    border: 1px solid var(--font-warning);
    border-radius: .2rem;
    background: var(--bg-transparent);
    transition: all .3s ease-out;
}
.containerCharacterHeader button:hover {
    background: var(--font-warning);
    color: var(--font-highlight);
}

.containerCharacterInput {
    margin-bottom: 1rem;
}

.containerCharacterInput label {
    font-size: clamp(1.1rem, 0.9694rem + 0.6531vw, 1.5rem);
}

.containerFileUpload {
    background-color: var(--bg-transparent);
    border: 2px solid var(--font-base);
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .6rem;
    padding-bottom: .3rem;
    gap: .3rem;
}

.containerFileUpload button {
    font-size: clamp(1.1rem, 1.0020rem + 0.4898vw, 1.4rem);
    margin: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    transition: all .3s ease-out;
}

.containerAllFiles {
    width: 90%;
}

.containerFile {
    border: 1px solid var(--font-highlight);
    border-radius: .2rem;
    margin-bottom: .3rem;
    background-color: var(--bg-transparent);
    padding-left: .5rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerFile b {
    margin-bottom: .3rem;
    max-width: 85%;
    height: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}
.containerFile span {
    width: 15%;
    transform: translateY(-25%);
    text-align: center;
    font-size: clamp(1.3rem, 1.2020rem + 0.4898vw, 1.6rem);
    color: var(--font-warning);
    font-weight: 800;
    cursor: pointer;
    transition: color .3s ease-out;
}
.containerFile span:hover {
    color: var(--font-highlight);
}

.containerAddMore {
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerAddMore button {
    font-size: clamp(1.1rem, 1.0020rem + 0.4898vw, 1.4rem);
    width: 50%;
}

@media only screen and (min-width: 1024px) {
    .containerCharacterList {
        width: 75%;
    }

    .containerCharacterHeader {
        gap: .8rem;
    }
    .containerCharacterHeader button {
        padding-bottom: .4rem;
        padding-left: .4rem;
        padding-right: .4rem;
    }

    .containerAllInputs {
        display: flex;
        justify-content: space-evenly;
    }

    .containerCharacterInput textarea {
        margin-top: .5rem;
    }

    .containerCharacterInfo {
        border-radius: .8rem;
        padding-bottom: 1.5rem;
    }

    .containerFileUpload {
        width: 32.5%;
        justify-content: center;
    }
    .containerFileUpload button {
        padding-bottom: .5rem;
        margin-top: 0;
        margin-bottom: auto;
    }
    .containerAllFiles {
        width: 80%;
        margin-bottom: auto;
    }

    .containerAddMore {
        margin-bottom: 1.5rem;
    }
    .containerAddMore button {
        padding-bottom: .75rem;
        width: 15%;
    }
}

@media only screen and (min-width: 1921px) {
    .containerCharacterHeader b {
        font-size: clamp(1.8rem, -0.3000rem + 1.7500vw, 2.5rem);
    }

    .containerCharacterHeader button {
        font-size: clamp(1.3rem, -0.8000rem + 1.7500vw, 2rem);
    }

    .containerCharacterInput label {
        font-size: clamp(1.5rem, -1.2000rem + 2.2500vw, 2.4rem);
    }

    .containerFileUpload button {
        font-size: clamp(1.4rem, -0.7000rem + 1.7500vw, 2.1rem);
    }

    .containerFile b {
        font-size: clamp(1rem, -3.5000rem + 3.7500vw, 2.5rem);
    }
    .containerFile span {
        font-size: clamp(1.6rem, -1.1000rem + 2.2500vw, 2.5rem);
    }

    .containerAddMore button {
        font-size: clamp(1.4rem, -1.9000rem + 2.7500vw, 2.5rem);
    }
}

@media only screen and (min-width: 2560px) {
    .containerCharacterList {
        width: 85%;
    }

    .containerCharacterHeader button {
        border: none;
        box-shadow: 0 0 2px 2px var(--font-warning);
    }

    .containerAddMore button {
        width: 20%;
    }

    .containerFileUpload button {
        margin-bottom: 1rem;
    }

    .containerFile {
        margin-bottom: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        box-shadow: 0 0 2px 2px var(--font-highlight);
    }
}

@media only screen and (min-width: 2561px) {
    .containerCharacterHeader b {
        font-size: clamp(2.5rem, -1.5000rem + 2.5000vw, 4.5rem);
    }

    .containerCharacterHeader button {
        font-size: clamp(2rem, 0.0000rem + 1.2500vw, 3rem);
    }

    .containerCharacterInput label {
        font-size: clamp(2.4rem, -0.2000rem + 1.6250vw, 3.7rem);
    }

    .containerFileUpload button {
        font-size: clamp(2.1rem, -0.7000rem + 1.7500vw, 3.5rem);
    }

    .containerFile b {
        font-size: clamp(2.5rem, 0.9000rem + 1.0000vw, 3.3rem);
    }
    .containerFile span {
        font-size: clamp(2.5rem, -0.1000rem + 1.6250vw, 3.8rem);
    }

    .containerAddMore button {
        font-size: clamp(2.5rem, 0.0000rem + 1.5625vw, 3.75rem);
    }
}

@media only screen and (min-width: 3840px) {
    .containerCharacterList {
        margin-top: 2rem;
        width: 90%;
    }

    .containerCharacterHeader {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .containerCharacterHeader b {
        margin-bottom: 1rem;
    }

    .containerCharacterHeader button {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 2rem;
    }

    .containerAddMore button {
        width: 20%;
    }

    .containerFileUpload button {
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .containerFile {
        margin-bottom: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
