.sectionSubTitle {
    margin-bottom: 1rem;
    text-align: center;
    color: #e95e4c;
    font-weight: bold;
    font-size: clamp(2.1rem, 1.6120rem + 2.1687vw, 3rem);
    line-height: clamp(2.25rem, 1.7620rem + 2.1687vw, 3.15rem);
}

.textContainer > p {
    margin-bottom: .4rem;
    margin-top: 0;
    font-size: clamp(1.5rem, 0.8223rem + 3.0120vw, 2.75rem);
    line-height: clamp(1.8rem, 1.2036rem + 2.6506vw, 2.9rem);
}

.overrideTransform {
    transform: none !important;
}

@media only screen and (min-width: 1921px) {
    .sectionSubTitle {
        font-size: 4.8rem;
        line-height: 4.95rem;
        padding-bottom: .75rem;
        margin-top: 0rem;
    }

    .textContainer > p {
        font-size: 3rem;
        line-height: 3.3rem;
    }
}
