.header {
    margin-top: 0;
    margin-bottom: 1.75rem;
}

.containerForm {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.containerForm form {
    border: 1px solid var(--font-highlight);
    background-color: var(--bg-transparent);
    padding: .35rem;
    padding-top: 1.25rem;
    border-radius: .3rem;
    width: min(95%, 50rem);
}

.inputBlock,
.areaBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: .3rem;
}
.inputBlock label,
.areaBlock label {
    text-align: left;
    margin-bottom: .8rem;
    font-size: clamp(1.1rem, 0.9277rem + 0.7660vw, 1.55rem);
    font-weight: bold;
}

.containerCaptchaSubmit {
    display: flex;
    justify-content: center;
}

.containerRecaptcha {
    transform: scale(0.77) translateX(16%);
    -webkit-transform: scale(0.77) translateX(16%);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

.containerBtn {
    margin-top: 1.3rem;
    margin-bottom: .75rem;
    width: 100%;
}

.textError {
    text-align: center;
    font-size: clamp(1.1rem, 0.8319rem + 1.1915vw, 1.8rem);
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.textError b {
    color: var(--font-warning)
}

.textSuccess {
    text-align: center;
    font-size: clamp(1.1rem, 0.8319rem + 1.1915vw, 1.8rem);
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.textSuccess b {
    color: var(--font-highlight);
}

@media only screen and (min-width: 1024px) {
    .containerForm {
        margin-bottom: 1.5rem;
    }

    .containerForm form {
        border: none;
        background-color: transparent;
    }

    .inputBlock,
    .areaBlock {
        margin-bottom: 1rem;
    }

    .inputBlock label,
    .areaBlock label {
        margin-bottom: .6rem;
    }

    .containerRecaptcha {
        transform: unset;
        -webkit-transform: unset;
        transform-origin: unset;
        -webkit-transform-origin: unset;
    }

    .containerBtn {
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 1921px) {
    .inputBlock label,
    .areaBlock label {
        font-size: clamp(1.55rem, -0.4041rem + 1.6275vw, 2.2rem);
    }

    .textSuccess {
        font-size: clamp(1.8rem, -3.3000rem + 4.2500vw, 3.5rem);
    }
    .textError {
        font-size: clamp(1.8rem, -3.3000rem + 4.2500vw, 3.5rem);
    }
}

@media only screen and (min-width: 2560px) {
    .containerForm form {
        width: 50vw;
    }

    .containerForm {
        margin-bottom: 6rem;
    }

    .containerRecaptcha {
        transform: scale(2) translateX(-25%);
        -webkit-transform: scale(2) translateX(-25%);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@media only screen and (min-width: 2561px) {
    .inputBlock label,
    .areaBlock label {
        font-size: clamp(2.75rem, 0.2500rem + 1.5625vw, 4rem);
    }

    .textSuccess {
        font-size: clamp(3.5rem, -1.5000rem + 3.1250vw, 6rem);
    }
    .textError {
        font-size: clamp(3.5rem, -1.5000rem + 3.1250vw, 6rem);
    }
}

@media only screen and (min-width: 3840px) {
    .containerForm form {
        width: 50vw;
    }

    .containerForm {
        margin-bottom: 8rem;
    }

    .containerRecaptcha {
        transform: scale(2.5) translateX(-40%);
        -webkit-transform: scale(2.5) translateX(-40%);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}
