.shopPageContainer {
    padding-bottom: 3rem;

    --product-max-width: 450px;
    --product-gap: 1rem;
}

.searchInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}

.productsOuterContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.productsInnerContainer {
    width: min(90vw, var(--product-max-width));

    display: flex;
    flex-wrap: wrap;
    gap: var(--product-gap);
}

.productContainer {
    width: min(90vw, var(--product-max-width));
}

.noResultsText {
    width: 100%;
    font-weight: 600;
    text-align: center;
    font-size: clamp(1.2rem, 0.3325rem + 3.8554vw, 2.8rem);
}

@media only screen and (min-width: 925px) {
    .productsInnerContainer {
        --col-num: 2;

        width: calc(
            calc(var(--product-max-width) * var(--col-num)) +
            calc(var(--product-gap) * calc(var(--col-num) - 1))
        );
    }
}

@media only screen and (min-width: 1400px) {
    .productsInnerContainer {
        --col-num: 3;
    }
}
