.shopPageContainer {
    height: auto;
    transition: height 0.3s ease-out;
}

.productListContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.productContainer {
    width: min(90vw, 25rem);
}
