.containerFilters {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerOptions {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: .5rem;
    gap: .4rem;
    flex-wrap: wrap;
}
.containerOptions button {
    cursor: pointer;
    border: 2px solid var(--font-base);
    border-radius: .3rem;
    background-color: var(--bg-transparent);
    font-size: clamp(1rem, 0.8085rem + 0.8511vw, 1.5rem);
    transition: background-color .3s ease-in-out;
}
.containerOptions button:hover {
    background-color: var(--bg);
}
.containerOptions button.selected {
    background-color: var(--bg);
    border: 2px solid var(--font-highlight);
    color: var(--font-highlight);
}

@media only screen and (min-width: 768px) {
    .containerOptions {
        margin-bottom: 1.5rem
    }
}

@media only screen and (min-width: 1921px) {
    .containerOptions button {
        font-size: clamp(1.5rem, -2.2500rem + 3.1250vw, 2.75rem);
    }
}

@media only screen and (min-width: 2560px) {
    .containerOptions button {
        padding-bottom: 1rem;
        padding-left: .75rem;
        padding-right: .75rem;
    }

    .containerOptions {
        gap: 1rem;
    }
}

@media only screen and (min-width: 2561px) {
    .containerOptions button {
        font-size: clamp(2.75rem, 0.2500rem + 1.5625vw, 4rem);
    }
}

@media only screen and (min-width: 3840px) {
    .containerOptions button {
        padding-bottom: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .containerOptions {
        gap: 1.75rem;
    }
}
