.containerSearchBar {
    position: relative;
    width: min(85vw, 450px);
    display: flex;
    align-items: center;

    --border-width: 2px;
    --border-radius: .5rem;
    --padding: .25rem;
    --search-icon-width: 13%;
    --close-icon-width: 8%;
}

.searchInput {
    width: 100%;
    background-color: #ffe3f1 !important;
    border: var(--border-width) solid var(--font-base) !important;
    border-radius: var(--border-radius);
    padding-top: var(--padding) !important;
    padding-bottom: var(--padding) !important;
    padding-left: calc(var(--search-icon-width) + calc(var(--padding) * 2)) !important;
    padding-right: calc(var(--close-icon-width)) !important;

    transition: all .1s ease-in;
}

.searchIcon {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--font-base);
    height: calc(
        100% + calc(
            var(--padding) - calc(var(--border-width) * 2)
        )
    ) !important;
    width: var(--search-icon-width) !important;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: #ffaad4;
    border: var(--border-width) solid var(--font-base);

    transition: all .1s ease-in !important;
}

.searchInput.focused {
    border: var(--border-width) solid var(--font-highlight) !important;
    outline: none !important;
    box-shadow: 0 0 10px var(--font-highlight);
}
.searchIcon.focused {
    color: var(--font-highlight);
    border: var(--border-width) solid var(--font-highlight);
}

.closeIcon {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(
        100% + calc(
            var(--padding) - calc(var(--border-width) * 2)
        )
    ) !important;
    width: var(--close-icon-width) !important;
    color: var(--font-base);
    cursor: pointer;
    transition: color .2s ease-out !important;
}

.closeIcon:hover {
    color: var(--font-highlight);
}
