.containerDescription {
    display: flex;
    justify-content: center;
}

.containerText {
    width: 95%;
}

.containerText label {
    font-size: clamp(1.1rem, 0.9367rem + 0.8163vw, 1.6rem);
}

.containerText textarea {
    margin-top: .5rem;
    transition: all .4s ease-out;
}

@media only screen and (min-width: 1024px) {
    .containerText {
        width: 50%;
    }
}


@media only screen and (min-width: 1921px) {
    .containerText label {
        font-size: clamp(1.6rem, -1.8500rem + 2.8750vw, 2.75rem);
    }
}
