.itemWrapper {
    --b-radius: 0rem;

    width: 100%;
    display: flex;
    justify-content: center;

    background-color: #fca7bc7a;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.itemWrapper p {
    margin: 0;
}

.itemContainer {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

.image {
    display: none;
}

.productInfoWrapper {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.groupNameText {
    font-weight: 600;
    font-size: clamp(1.05rem, 0.8060rem + 1.0843vw, 1.5rem);
}

.quantityContainer {
    width: min(20%, 7rem);
}

.quantityContainer input {
    border-radius: var(--b-radius) !important;
}

.priceText {
    color: var(--font-highlight);
    font-size: clamp(1rem, 0.8373rem + 0.7229vw, 1.3rem);
    font-weight: 600;
}

@media only screen and (min-width: 1024px) {
    .itemWrapper {
        --b-radius: .6rem;

        border-left: 2px solid #ffe3f1;
        border-right: 2px solid #ffe3f1;
    }

    .image {
        display: unset;
        width: 12.5%;
        height: auto;
        border-radius: var(--b-radius);
        margin-right: 1rem;
    }

    .priceText {
        margin-top: .5rem !important;
    }
}
