.popslingerNavContainer {
    position: fixed;
    z-index: 100000;
    top: -1px;
    display: flex;
    width: 100vw;
    background: #fffae6;
    border-bottom: 2px solid #e3a5e8;
    height: var(--popslinger-header-height);
}

.popslingerNavContainer .backBtn {
    cursor: pointer;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: .5rem;
}
.popslingerNavContainer .backBtn p {
    color: var(--font-base);
    font-size: clamp(1.1rem, 0.7408rem + 1.7959vw, 2.2rem);
    transition: color .3s ease-out;
}
.popslingerNavContainer .backBtn:hover > p {
    color: var(--font-highlight)
}

.popslingerNavContainer h1 {
    width: 100vw;
    text-align: center;
    color: var(--font-base);
    font-size: clamp(2.5rem, 1.8469rem + 3.2653vw, 4.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
    .popslingerNavContainer {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0) 0%,
            rgb(255, 250, 230, 0.5) 20%,
            rgb(255, 250, 230) 60%
        );
        border-bottom: unset;
    }

    .popslingerNavContainer h1 {
        font-size: clamp(2.5rem, 1.8469rem + 3.2653vw, 4.5rem);
        letter-spacing: .5rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .popslingerNavContainer .backBtn p {
        margin-top: 0;
        font-weight: 600;
    }
}
