.containerCarouselImg {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.containerCarouselImg h4 {
    margin: 0;
    width: 100%;
    text-align: center;
    color: var(--font-highlight);
    font-size: clamp(1.1rem, 0.9916rem + 0.4819vw, 1.3rem);
    font-weight: bold;
}

.containerCarouselImg img {
    display: block;
    max-width: 95%;
    max-height: 100%;
    width: auto;
    height: auto;
}

@media only screen and (min-width: 1024px) {
    .containerCarouselImg {
        height: 100%;
    }
}
