.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-image: url('/backgrounds/main-bg.gif');
    background-repeat: repeat;
    background-size: 200px 200px;
    border-bottom: 2px solid var(--font-highlight);
    top: 0;
    z-index: 5;
}

.headerWrapper {
    height: var(--header-height);
    width: 100vw;
    display: flex;
    align-items: center;
}
.headerWrapper > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.logoWrapper {
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 100%;
    border: 2px solid var(--font-base);
    position: relative;
}

.headerWrapper h1 {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: var(--font-base);
    text-shadow: 0.05em 0.05em 0 rgb(255, 171, 251);
    font-size: clamp(2.25rem, 1.0053rem + 5.5319vw, 5.5rem);
    letter-spacing: clamp(0rem, -0.5224rem + 2.6122vw, 1.6rem);
    font-family: 'Concert One', cursive;
    margin: 0;
    margin-bottom: .5rem;
    align-items: center;
    text-align: center;
}

.linksList {
    max-height: 0;
    background: linear-gradient(
        0deg,
        rgba(180, 121, 219, 0.35) 0%,
        rgba(180, 121, 219, 0.35) 80%,
        rgba(180, 121, 219, 0.15) 95%,
        rgba(0, 0, 0, 0) 100%
    );
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-direction: column;
    transition: max-height 0.5s ease-in-out;
}
.openLinksList {
    max-height: var(--links-open-height);
}

.linkItem {
    text-align: center;
    width: 100vw;
    height: var(--mov-nav-link-height);
    position: relative;
    text-decoration: none;
    color: var(--font-base);
    cursor: pointer;
    font-family: 'Concert One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.linkItem p {
    font-weight: bold;
    font-size: clamp(1.1rem, 0.9367rem + 0.8163vw, 1.6rem);
    margin-top: 0;
    margin-bottom: 5px !important;
}

.linkItem embed {
    width: 35px;
    height: 35px;
}

.linkUnderline {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(75%);
    left: 2px;
    z-index: 100000;
    border: 2px solid #bea5fa;
}

@media only screen and (min-width: 1024px) {
    .nav {
        background-image: none;
        border-bottom: none;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0)  0%,
            var(--bg-header) 100%
        );
        top: -1px;
        position: fixed;
        z-index: 9;
        width: 100vw;
        height: 30vh;
        pointer-events: none;
    }
    .nav.dontStick {
        position: unset;
        top: unset;
    }

    .nav a {
        pointer-events: auto;
    }

    .linkSelected {
        color: var(--font-highlight) !important;
    }

    .headerWrapper {
        justify-content: center;
    }

    .headerWrapper > div {
        justify-content: center;
        gap: 2rem;
        width: max(50vw, 900px);
        flex-grow: unset;
    }

    .logoWrapper {
        position: relative;
        min-width: 8rem;
        min-height: 8rem;
        border: 4px solid var(--font-base);
    }

    .headerWrapper h1 {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .linksList {
        transition: unset;
        background: unset;
        max-height: 1000px;
        width: 100vw;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: .5rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        list-style-type: none;
    }
    .linkItem {
        --underline-height: 2px;
        --underline-gap: 4px;

        text-align: center;
        position: relative;
        align-items: none;
        justify-content: none;
        width: auto;
        height: calc(
            2rem +
            calc(var(--underline-height) + var(--underline-gap))
        );
        pointer-events: auto;
        margin-bottom: 0 !important;
        cursor: pointer;
    }
    .linkItem p {
        font-weight: 600;
        transition: color 0.2s ease-in-out;
        text-shadow:
            0
            0
            10px
            rgb(241 8 230 / var(--link-opacity, 0));

        --link-opacity: 0;
    }
    .linkItem p.linkSelected {
        --link-opacity: 0 !important;
    }
    .linkItem:hover p {
        color: var(--font-highlight) !important;
    }

    .linkItem .linkUnderline {
        pointer-events: none;
        position: absolute;
        width: 100%;
        bottom: calc(-1 * var(--underline-gap));
        left: 0;
        height: calc(var(--underline-height) + var(--underline-gap));
        border: none;
        background-color: var(--font-highlight);
    }
}

@media only screen and (min-width: 1921px) {
    .headerWrapper h1 {
        font-size: clamp(5.5rem, -6.5000rem + 10.0000vw, 9.5rem);
        letter-spacing: clamp(1.6rem, -0.2000rem + 1.5000vw, 2.2rem);
        margin-bottom: 1.5rem;
    }

    .linkItem p {
        font-size: clamp(1.6rem, -2.0000rem + 3.0000vw, 2.8rem);
        margin-bottom: 10px !important;
    }
}

@media only screen and (min-width: 2560px) {
    .headerWrapper h1 {
        margin-bottom: 2.5rem;
        margin-left: 1.75rem;
    }

    .linkItem p {
        margin-bottom: 10px !important;
    }

    .linkItem {
        --underline-height: 4px;

        height: calc(
            3rem +
            calc(var(--underline-height) + var(--underline-gap))
        );
    }

    .logoWrapper {
        border: none;
        box-shadow: 0 0 6px 6px var(--font-base);
    }
}

@media only screen and (min-width: 2561px) {
    .headerWrapper h1 {
        font-size: clamp(9.5rem, 1.5000rem + 5.0000vw, 13.5rem);
        letter-spacing: clamp(2.2rem, -1.2000rem + 2.1250vw, 3.9rem);
    }

    .linkItem p {
        font-size: clamp(2.8rem, 0.4000rem + 1.5000vw, 4rem);
    }
}

@media only screen and (min-width: 3840px) {
    .headerWrapper h1 {
        margin-bottom: 4rem;
    }

    .linkItem p {
        margin-bottom: 30px !important;
    }

    .linkItem {
        --underline-height: 6px;

        height: calc(
            4rem +
            calc(var(--underline-height) + var(--underline-gap))
        );
    }

    .logoWrapper {
        border: none;
        box-shadow: 0 0 6px 6px var(--font-base);
        margin-right: 4rem;
    }
}
