.sectionSubTitle {
    margin-bottom: .5rem;
}

.textContainer, .textWithImageContainer {
    width: min(95%, 90rem);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.textContainer {
    padding-bottom: .5rem;
}

.textContainer > p, .textWithImageContainer > p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: clamp(1.5rem, 1.0909rem + 2.0455vw, 2.4rem);
    line-height: clamp(1.8rem, 1.4364rem + 1.8182vw, 2.6rem);
}

.carouselContainer {
    width: min(99%, 55rem);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) {
    .textWithImageContainer {
        padding-bottom: 2rem;
        padding-top: .5rem;
    }

    .textWithImageContainer > p {
        margin-left: 1rem;
    }

    .carouselContainer {
        margin-top: 2rem;
        height: 70vh;
        width: 80%;
    }
}

@media only screen and (min-width: 1921px) {
    .textContainer, .textWithImageContainer {
        width: 120rem;
    }

    .sectionSubTitle {
        margin-top: 1rem;
    }

    .textContainer > p, .textWithImageContainer > p {
        font-size: 3rem;
        line-height: 3.3rem;
    }
}
