.galleryContainer {
    padding: 0 .8rem;
}

.containerTitle {
    margin-bottom: .7rem;
    display: flex;
    line-height: 1rem;
    align-items: center;
    justify-content: center;
}
.containerTitle h2 {
    text-align: center;
    margin: .7rem auto;
    transform: translateX(-25%);
}
.containerTitle {
    margin-bottom: 1.25rem;
}

.containerAllColumns {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width: 700px) {
    .galleryContainer {
        padding: 0 1.2rem;
    }

    .containerAllColumns {
        gap: 1.2rem;
    }

    .containerColumn {
        width: calc(50% - 1.2rem);
    }
}

@media only screen and (min-width: 768px) {
    .containerTitle h2 {
        margin: unset;
        text-align: center;
        margin-right: unset;
        transform: unset;
    }
    .containerTitle {
        margin-bottom: 1.75rem;
    }
}

@media only screen and (min-width: 1024px) {
    .galleryContainer {
        padding: 0 2rem;
        padding-bottom: 2rem;
    }

    .containerAllColumns {
        gap: 2rem;
    }

    .containerColumn {
        width: calc(33% - 2rem);
    }
}
