.errorText {
    padding-left: .5rem;
    padding-right: .5rem;
    width: 100%;
    color: var(--font-warning);
    font-size: clamp(1.4rem, 1.2041rem + 0.9796vw, 2rem);
    margin-bottom: 1rem;
}
.errorText a {
    width: 100%;
    text-align: center;
}

.containerSocials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    margin-bottom: 3rem;
}

.containerSocials a {
    font-size: clamp(1.6rem, 1.4041rem + 0.9796vw, 2.2rem);
    color: var(--font-highlight);
    text-decoration: underline;
    cursor: pointer;
}

.galleryContainer {
    padding: 0 .8rem;
}

.containerTitle {
    margin-bottom: 1.25rem;
    line-height: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.containerTitle h2 {
    text-align: center;
    margin: 0;
    transform: translateX(-15%);
    margin-right: auto;
    pointer-events: none;
    margin-right: auto;
}
.containerTitle > div {
    margin-top: 1rem;
    margin-right: auto;
}

.containerToggleFilters {
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.containerAllColumns {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width: 700px) {
    .galleryContainer {
        padding: 0 1.2rem;
    }

    .containerAllColumns {
        gap: 1.2rem;
    }

    .containerColumn {
        width: calc(50% - 1.2rem);
    }
}

@media only screen and (min-width: 768px) {
    .containerTitle h2 {
        margin: unset;
        text-align: center;
        margin-right: unset;
        transform: unset;
    }
    .containerTitle {
        padding-top: .25rem;
        padding-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .containerTitle {
        padding: 0;
    }
    .containerTitle h2 {
        padding: 0;
        transform: translateY(-.75rem);
    }

    .containerToggleFilters {
        margin-bottom: 1rem;
    }

    .errorText {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .containerSocials {
        margin-bottom: 1rem;
        gap: .5rem;
    }

    .galleryContainer {
        padding: 0 2rem;
        padding-bottom: 2rem;
        min-height: 80vh;
    }

    .containerAllColumns {
        gap: 2rem;
    }

    .containerColumn {
        width: calc(33% - 2rem);
    }
}

@media only screen and (min-width: 1921px) {
    .errorText {
        font-size: clamp(2rem, -1.0000rem + 2.5000vw, 3rem);
    }

    .containerSocials a {
        font-size: clamp(2.2rem, -1.1000rem + 2.7500vw, 3.3rem);
    }
}

@media only screen and (min-width: 2560px) {
    .containerTitle {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .containerToggleFilters {
        margin-bottom: 2rem;
    }

    .containerSocials {
        margin-top: 3rem;
        gap: 1rem;
    }
}

@media only screen and (min-width: 2561px) {
    .errorText {
        font-size: clamp(3rem, 1.0000rem + 1.2500vw, 4rem);
    }

    .containerSocials a {
        font-size: clamp(3.3rem, 0.7000rem + 1.6250vw, 4.6rem);
    }
}

@media only screen and (min-width: 3840px) {
    .containerToggleFilters {
        margin-bottom: 2rem;
    }

    .containerTitle {
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
}
