.containerOptionsAndImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerOptions {
    width: 65%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.containerExample {
    width: 100%;
    height: 40dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .75rem;
}

.containerExample img {
    display: block;
    max-width: 95%;
    max-height: 100%;
    width: auto;
    height: auto;
}

@media only screen and (min-width: 1024px) {
    .containerOptionsAndImage {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2.5rem;
    }

    .containerOptions {
        width: 30%;
        margin-bottom: unset;
    }

    .containerExample {
        height: 50dvh;
        width: 50%;
        background-color: var(--bg-transparent);
        border: 2px solid var(--font-base);
        border-radius: .5rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}
