.productInfoText {
    width: 100%;
    text-align: center;
    font-size: clamp(1.2rem, 0.7663rem + 1.9277vw, 2rem);
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.checkoutContainer {
    background-color: #fca7bc7a;
    border-bottom: 2px solid #ffe3f1;
    padding-top: .75rem;
    padding-bottom: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutContainer p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: clamp(1.3rem, 1.0289rem + 1.2048vw, 1.8rem);
}

.checkoutContainer button {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-bottom: .8rem;
    margin-top: .5rem;
    background-color: var(--font-base);
    color: #ffe3f1;
    border: 1px solid var(--font-base);
    border-radius: .2rem;
    font-size: clamp(1.8rem, 1.4747rem + 1.4458vw, 2.4rem);
    transition: all .3s ease-out;
}

.checkoutContainer button:hover {
    background-color: #ffe3f1;
    color: var(--font-base);
}

@media only screen and (min-width: 1024px) {
    .productInfoText {
        margin-bottom: 1rem;
    }

    .productsOuterContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .productsInnerContainer {
        width: 45vw;
    }

    .checkoutContainer {
        width: 15vw;
        height: 100%;
        border: 2px solid #ffe3f1;
        border-radius: .6rem;
        justify-content: center;
        gap: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .checkoutContainer button {
        margin-top: unset;
    }
}
