.containerRadioButtonsGroup {
    width: 100%;
}

.containerRadioButton {
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-bottom: .9rem;
}

.containerRadioButton .radioText {
    font-size: clamp(1.2rem, 0.2250rem + 4.3333vw, 2.5rem);
    line-height: clamp(1.2rem, 0.2250rem + 4.3333vw, 2.5rem);
    width: 80%;
}

.containerRadioButton .radioText.small {
    font-size: clamp(1.2rem, 0.9388rem + 1.3061vw, 2rem);
}

.containerRadioButton .radioButton {
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--font-base);
    border-radius: 50%;
    background-color: var(--bg-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerRadioButton .radioButton input {
    display: none;
}

.containerRadioButton .radioButton .radioDot {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: var(--font-base);
    border-radius: 50%;
    display: inline-block;
    transform: scale(0);
    opacity: 0;
    transition: all .2s ease-out;
}

.containerRadioButton .radioButton input:checked + .radioDot {
    transform: scale(1);
    opacity: 1;
}

@media only screen and (min-width: 1024px) {
    .containerRadioButton {
        margin-bottom: 2.25rem;
        gap: .7rem;
    }

    .containerRadioButton .radioText {
        width: unset;
    }

    .containerRadioButton .radioButton {
        min-width: 45px;
        min-height: 45px;
        width: 45px;
        height: 45px;
    }

    .containerRadioButton .radioButton .radioDot {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }

}

@media only screen and (min-width: 1921px) {
    .containerRadioButton .radioText {
        font-size: clamp(2.5rem, 0.9969rem + 1.2520vw, 3rem);
        line-height: clamp(2.5rem, 0.3956rem + 1.7527vw, 3.2rem);
    }

    .containerRadioButton .radioText.small {
        font-size: clamp(2.5rem, 1.8987rem + 0.5008vw, 2.7rem);
        line-height: clamp(2.5rem, 1.2975rem + 1.0016vw, 2.9rem);
    }
}


@media only screen and (min-width: 2560px) {

    .containerRadioButton .radioButton {
        min-width: 75px;
        min-height: 75px;
        width: 75px;
        height: 75px;
    }

    .containerRadioButton .radioButton .radioDot {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
}


@media only screen and (min-width: 2561px) {
    .containerRadioButton .radioText {
        font-size: clamp(3.75rem, -0.7500rem + 2.8125vw, 6rem);
        line-height: clamp(3.75rem, -0.7500rem + 2.8125vw, 6rem);;
    }

    .containerRadioButton .radioText.small {
        font-size: clamp(2.5rem, -1.2500rem + 3.1250vw, 3.25rem);
        line-height: clamp(2.5rem, -1.2500rem + 3.1250vw, 3.25rem);
    }
}

@media only screen and (min-width: 3840px) {
    .containerRadioButton .radioText {
        margin-left: 1rem;
    }

    .containerRadioButton .radioButton {
        min-width: 125px;
        min-height: 125px;
        width: 125px;
        height: 125px;
    }

    .containerRadioButton .radioButton .radioDot {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }
}
