.sectionSubTitle {
    margin-top: .75rem;
}

.carouselContainer {
    width: 100%;
    height: 17rem;
    margin-bottom: 2rem;
}

.textContainer, .textWithImageContainer {
    width: min(95%, 90rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: .5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.textContainer {
    padding-bottom: .5rem;
}

.textContainer > p, .textWithImageContainer > p {
    margin-bottom: .4rem;
    margin-top: 0;
}

.textWithImageContainer > p {
    margin-top: .4rem;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
    .sectionSubTitle {
        margin-bottom: 0;
        margin-top: 1.5rem;
    }

    .textContainer {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .textWithImageContainer {
        flex-direction: row;
        padding-bottom: 2rem;
        padding-top: 3rem;
    }


    .textWithImageContainer > p {
        margin-bottom: 0;
    }

    .carouselContainer {
        height: 20rem;
        width: 200%;
    }
}

@media only screen and (min-width: 1921px) {
    .textContainer, .textWithImageContainer {
        width: 120rem;
    }

    .sectionSubTitle {
        margin-top: 1rem;
    }
}
