.carousellContainer {
    display: flex;
}

.imagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 80vh;
}

.imagesContainer img {
    position: absolute;
    width: 600px;
    height: 600px;

    transition: all .3s ease-in-out;
}
