.errorWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: #be3b4dbd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.formWrapper {
    margin-bottom: 3rem;
}

.errorWrapper p {
    color: black;
    width: 90%;
    margin: 0;
}

.containerLink {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerLink span {
    margin-top: 1rem;
}

.containerAllInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerAllInputs p {
    margin: 0;
}

.containerAllInputs h2 {
    font-weight: 400;
    color: var(--font-base);
    font-size: clamp(1.5rem, 1.1205rem + 1.6867vw, 2.2rem);
    line-height: unset;
    padding-bottom: 0;
    text-shadow: unset;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.containerAllInputs > div {
    border-top: 2px solid var(--font-base);
    margin-top: 2rem;
    width: 90vw;
}

.containerAllInputs > div:first-child {
    margin-top: 1rem;
}

.containerTextInput {
    margin-bottom: .5rem;
}

.containerTextInput p {
    font-weight: 600;
    margin-bottom: .25rem;
}

.summaryItem {
    display: flex;
    justify-content: space-between;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid var(--font-base);
}

.containerTotals {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

.containerTotals > div:first-child p {
    margin-bottom: .25rem !important;
}

.summaryProduct .groupName {
    font-weight: 600;
}

.price {
    text-align: right;
}

.containerPaypal {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1650px) {
    .errorWrapper {
        border-radius: 2rem;
        width: 55rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }

    .formWrapper {
        margin-bottom: unset;
        border-radius: 2rem;
        width: 55rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerAllInputs {
        width: 100%;
    }

    .containerAllInputs > div:first-child {
        margin-top: 0;
    }

    .containerAllInputs > div {
        width: 80%;
    }

    .containerLink {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .containerLink span {
        font-size: 2rem;
    }

    .containerSmallInputs {
        display: flex;
        justify-content: space-between;
    }

    .containerSmallInputs > div {
        width: 48%;
    }

    .containerFinalButton {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .containerTotals p {
        font-size: 1.5rem;
    }

    .containerTotals > div p:last-child {
        color: var(--font-highlight);
        font-weight: 600;
        margin-top: .5rem;
    }
}

@media only screen and (min-width: 1921px) {
    .formWrapper {
        width: 70rem;
    }
}
