.containerAllWorkItems {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHeader {
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0;
}

@media only screen and (min-width: 1024px) {
    .containerAllWorkItems {
        width: unset;
    }
}

@media only screen and (min-width: 1650px) {
    .containerAllWorkItems {
        width: unset;
        overflow-x: unset;
    }

    .mainHeader {
        padding-top: 1rem;
    }
}
