.containerAbout {
    padding-left: .8rem;
    padding-right: .8rem;
}

.containerAbout p {
    font-size: clamp(1.25rem, 1.0686rem + 0.8062vw, 1.9rem);
    line-height: clamp(1.4rem, 1.1767rem + 0.9922vw, 2.2rem);
    margin-top: .3rem;
}

.containerAbout .hello {
    margin: 0;
    text-align: center;
}

.containerAbout a {
    color: var(--font-highlight);
    text-decoration: underline;
    font-weight: 900;
}


@media only screen and (min-width: 900px) {
    .containerAbout .hello {
        text-align: left;
    }
}

@media only screen and (min-width: 1921px) {
    .containerAbout p {
        font-size: clamp(1.9rem, 0.0962rem + 1.5023vw, 2.5rem);
        line-height: clamp(1.4rem, -2.5081rem + 3.2551vw, 2.7rem);
    }
}

@media only screen and (min-width: 2561px) {
    .containerAbout p {
        font-size: clamp(4rem, 0.0000rem + 2.5000vw, 6rem);
        line-height: clamp(4.3rem, 0.1000rem + 2.6250vw, 6.4rem);
    }
}
