.containerAbout {
    padding-left: .3rem;
    padding-right: .3rem;
}

.containerAbout p {
    font-size: clamp(1.5rem, 1.3085rem + 0.8511vw, 2rem);
    line-height: clamp(1.75rem, 1.5394rem + 0.9362vw, 2.3rem);
    margin-top: .3rem;
}

.containerAbout a {
    color: var(--font-highlight);
    text-decoration: underline;
    font-weight: 900;
}

@media only screen and (min-width: 1921px) {
    .containerAbout p {
        font-size: clamp(2rem, -4.0000rem + 5.0000vw, 4rem);
        line-height: clamp(2.3rem, -3.7000rem + 5.0000vw, 4.3rem);
    }
}
