.containerTitle {
    height: 100%;
    display: flex;
    align-items: center;
}

.sectionTitle {
    font-size: clamp(3.5rem, 1.4545rem + 10.2273vw, 8rem);
    line-height: clamp(3.65rem, 1.2102rem + 10.8434vw, 8.15rem);
    text-align: center;
    text-shadow: 2px 2px 8px #FF0000;
    color: #fffae6;
    text-shadow: none;
}

.sectionSubTitle {
    text-align: center;
    color: #e95e4c;
    font-weight: bold;
    font-size: clamp(1.7rem, 1.1091rem + 2.9545vw, 3rem);
}

.goBackBtn {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    margin-left: 1rem;
    margin-top: 1rem;

    cursor: pointer;
    background: #f45dff;
    border: 2px solid #fffae6;
    border-radius: .5rem;
    font-size: clamp(1.3rem, 0.8909rem + 2.0455vw, 2.2rem);
    padding: .7rem;
    padding-top: .2rem;

    box-shadow: 0px 0px 10px #fff3ad;

    transition: background .3s ease-in-out;
}

.goBackBtn:hover {
    background: #fffae6;
}

.containerLogo {
    margin-top: 5rem;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerLogo h1 {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.containerLogo img {
    padding-top: 10rem;
    display: block;
    max-width: 98vw;
    height: auto;
}

.textContainer, .textWithImageContainer {
    width: min(95%, 90rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.textContainer {
    padding-bottom: .5rem;
}

.textContainer > p, .textWithImageContainer > p {
    margin-bottom: .4rem;
    margin-top: 0;
    font-size: clamp(1.5rem, 1.0909rem + 2.0455vw, 2.4rem);
    line-height: clamp(1.8rem, 1.4364rem + 1.8182vw, 2.6rem);
}

.textWithImageContainer > p {
    margin-top: .4rem;
}

@media only screen and (min-width: 1024px) {
    .containerLogo {
        margin-top: 5rem;
    }

    .sectionSubTitle {
        margin-bottom: 0;
    }

    .goBackBtn {
        padding: 1.1rem;
        padding-top: .6rem;
        box-shadow: 0px 0px 13px #fff3ad;
    }

    .textContainer {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .textWithImageContainer {
        flex-direction: row;
        padding-bottom: 2rem;
        padding-top: 4rem;
    }

    .carouselContainer {
        height: 20rem;
        width: 200%;
    }
}

@media only screen and (min-width: 1921px) {
    .containerLogo img {
        padding-top: 22.5rem;
    }

    .sectionTitle {
        font-size: 10rem;
        line-height: 10.15rem;
    }
}
