.mainHeader {
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0;
}

.spacesText {
    width: 100%;
    margin-top: 0;
    text-align: center;
    font-weight: 800;
    font-size: clamp(1.4rem, 1.2041rem + 0.9796vw, 2rem);
}

.containerTerms {
    padding-left: .6rem;
    padding-right: .6rem;
    margin-top: .8rem;
    min-height: 90dvh;
}

.containerTerms > p {
    font-size: clamp(1.25rem, 1.0686rem + 0.8062vw, 1.9rem);
    line-height: clamp(1.4rem, 1.1767rem + 0.9922vw, 2.2rem);
    margin-top: .3rem;
    margin-bottom: .6rem;
}

.containerList ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    list-style-type: none;
    padding-left: 0;
    transform: translateX(-.6rem);
}

.listItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.listItem embed {
    width: 45px;
    height: 45px;
}
.listItem p {
    margin: 0;
    font-size: clamp(1.2rem, 1.0694rem + 0.6531vw, 1.6rem);
}

@media only screen and (min-width: 1024px) {
    .containerTerms {
        margin-top: 1.5rem;
    }

    .containerList {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .containerList ul {
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }

    .containerTerms small {
        font-size: clamp(1.5rem, 1.3085rem + 0.8511vw, 2rem);
    }
}

@media only screen and (min-width: 1921px) {
    .spacesText {
        font-size: clamp(2rem, -1.0000rem + 2.5000vw, 3rem);
    }

    .containerTerms > p {
        font-size: clamp(1.9rem, 0.0962rem + 1.5023vw, 2.5rem);
        line-height: clamp(1.4rem, -2.5081rem + 3.2551vw, 2.7rem);
    }

    .listItem p {
        font-size: clamp(1.6rem, -0.3541rem + 1.6275vw, 2.25rem);
    }

    .containerTerms small {
        font-size: clamp(2rem, -0.1000rem + 1.7500vw, 2.7rem);
    }
}

@media only screen and (min-width: 2560px) {
    .listItem embed {
        width: 90px;
        height: 90px;
    }

    .containerList ul {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    .containerList ul {
        gap: 1rem;
    }

    .listItem p {
        margin-top: .5rem;
    }
}

@media only screen and (min-width: 2561px) {
    .spacesText {
        font-size: clamp(3rem, -1.0000rem + 2.5000vw, 5rem);
    }

    .containerTerms > p {
        font-size: clamp(3.1rem, -0.1000rem + 2.0000vw, 4.7rem);
        line-height: clamp(3.4rem, 0.2000rem + 2.0000vw, 5rem);
    }

    .listItem p {
        font-size: clamp(2.9rem, 0.7000rem + 1.3750vw, 4rem);
    }

    .containerTerms small {
        font-size: clamp(2.7rem, 1.1000rem + 1.0000vw, 3.5rem);
    }
}

@media only screen and (min-width: 3840px) {
    .listItem embed {
        width: 150px;
        height: 150px;
    }

    .containerList {
        margin-left: 2rem;
    }

    .containerList ul {
        margin-top: 4.5rem;
    }

    .containerList ul {
        gap: 1.5rem;
    }

    .listItem p {
        margin-top: 1.25rem;
    }
}
