:root {
  --num-links: 0;
  --font-highlight: #f33f87;
  --font-base: #783c55;
  --font-warning: #af2638;
  --bg: #fca7bc;
  --bg-transparent: #fca7bc50;
  --bg-header: #ffa3dc;
  --bg-icon-shadow: #f108e6;
  --icon-shadow-spread: 3rem;
  --image-border-radius: 0.5rem;
  --main-header-height: 20dvh;
  --shop-header-height: 12dvh;
  --header-height: var(--main-header-height);
  --main-margin-offset: 0rem;
  --mov-nav-link-height: 3rem;
  --links-open-height: calc(var(--num-links) * var(--mov-nav-link-height));
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f5c9d5;
  background-image: url('/backgrounds/main-bg.gif');
  background-repeat: repeat;
}

#__next {
  overflow-x:hidden;
  position: absolute;
}

a {
  color: inherit;
  text-decoration: none;
}

embed {
  pointer-events: none;
}

h1, h2, h3, button {
  font-family: 'Concert One', cursive;
  color: var(--font-base);
}
p, b, a, label, span, input[type="text"], input[type="number"], ::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: var(--font-base);
}

.highlight-text {
  color: var(--font-highlight);
}

.link {
  color: var(--font-highlight);
  text-decoration: underline;
  cursor: pointer;
  font-weight: 400;
}

button {
  padding-bottom: .5rem;
  cursor: pointer;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--font-base);
  font-size: clamp(3rem, 2.0512rem + 4.2169vw, 4.75rem);
  line-height: clamp(3.15rem, 2.2012rem + 4.2169vw, 4.9rem);
  padding-bottom: .6rem;
  text-shadow:
    0.05em 0.05em 0 rgb(255, 171, 251);
}

input[type="text"].warning::placeholder,
input[type="number"].warning::placeholder,
textarea.warning::placeholder {
  color: var(--font-warning);
  opacity: 0.6;
}

input[type="text"].warning:-ms-input-placeholder,
input[type="number"].warning:-ms-input-placeholder,
textarea.warning:-ms-input-placeholder {
  color: var(--font-warning);
  opacity: 0.6;
}

input[type="text"].warning::-ms-input-placeholder,
input[type="number"].warning::-ms-input-placeholder,
textarea.warning::-ms-input-placeholder {
  color: var(--font-warning);
  opacity: 0.6;
}
::placeholder {
  color: var(--font-highlight);
  font-weight: 600;
  opacity: 0.6;
  overflow: visible;
}

:-ms-input-placeholder {
  color: var(--font-highlight);
  font-family: 'Concert One', cursive;
  overflow: visible;
  opacity: 0.6;
}

::-ms-input-placeholder {
  color: var(--font-highlight);
  font-family: 'Concert One', cursive;
  overflow: visible;
  opacity: 0.6;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 2pt var(--font-base);
  outline: none;
}

input[type="text"],
input[type="number"],
textarea {
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .2rem;
  padding-right: .2rem;
  border-radius: .5rem;
  border: 1px solid var(--font-highlight);
  background-color: var(--bg);
  color: var(--font-base);
  font-weight: bold;
  font-size: clamp(1.05rem, 1.0010rem + 0.2449vw, 1.2rem);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  resize: vertical;
}

input[type="text"].warning,
input[type="number"].warning,
textarea.warning {
  animation: inputError .82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.submitBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: .35rem;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .3rem;
  background-color: var(--bg);
  color: var(--font-base);
  border: 2px solid var(--font-highlight);
  border-radius: .3rem;
  transition: all .3s ease-out;
  cursor: pointer;
  font-size: clamp(1.25rem, 1.0704rem + 0.8980vw, 1.8rem);
}
.submitBtn:hover {
  background: var(--font-highlight);
  color: darkmagenta;
}


@keyframes inputError {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

@keyframes transition {
  0% {
      opacity: 1;
  }

  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


.commissionsContainerButton {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: .75rem;
  margin-bottom: 2rem;
}

.commission-btn {
  margin-top: .75rem;
  margin-bottom: .8rem;
  padding-left: .8rem;
  padding-right: .8rem;
  padding-bottom: .8rem;
  background-color: var(--bg);
  border: 1px solid var(--font-highlight);
  border-radius: .2rem;
  font-size: clamp(2rem, 1.5934rem + 1.8072vw, 2.75rem);
  transition: background-color .3s ease-out;
}
.commission-btn:not(:disabled):hover {
  background-color: #ffc6d4;
}

@media only screen and (min-width: 1024px) {
  h2 {
    margin-top: .7rem;
    margin-bottom: .7rem;
  }

  .submitBtn {
    padding-top: .5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .commission-btn {
    margin-top: 1rem;
    margin-bottom: .2rem;
    padding-top: .25rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 2px solid var(--font-highlight);
  }

  .commissionsContainerButton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    gap: 2.5rem;
  }

  input[type="text"],
  input[type="number"]
  textarea {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

@media only screen and (min-width: 1921px) {
  h2 {
    font-size: clamp(2.85rem, -2.8500rem + 4.7500vw, 4.75rem);
  }

  input[type="text"],
  input[type="number"],
  textarea {
    font-size: clamp(1.2rem, -2.7000rem + 3.2500vw, 2.5rem);
    font-weight: 600;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  .submitBtn {
    font-size: clamp(2.5rem, -1.2500rem + 3.1250vw, 3.75rem);
  }

  .commission-btn {
    font-size: clamp(2.5rem, -1.2500rem + 3.1250vw, 3.75rem);
  }
}

@media only screen and (min-width: 2560px) {
  input[type="text"],
  input[type="number"],
  textarea {
    border: none;
    box-shadow: 0 0 2px 2px var(--font-highlight);
  }

  .commission-btn {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 2561px) {
  h2 {
    font-size: clamp(4.75rem, -1.7500rem + 4.0625vw, 8rem);
  }

  input[type="text"],
  input[type="number"],
  textarea {
    font-size: clamp(2.5rem, 0.0000rem + 1.5625vw, 3.75rem);
  }

  .submitBtn {
    font-size: clamp(3.75rem, 0.2500rem + 2.1875vw, 5.5rem);
  }

  .commission-btn {
    font-size: clamp(3.75rem, -2.7500rem + 4.0625vw, 7rem);
  }
}

@media only screen and (min-width: 3840px) {
  .submitBtn {
    padding-bottom: 2rem;
  }

  .commission-btn {
    border-radius: .8rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
