html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-image: url('/main-bg.gif');
  background-repeat: repeat;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --highlight: #f33d86;
  --base: #783c55;
  --header-height: 15vh;
  --main-margin-offset: 0rem;
  --links-open-height: 15rem;
}

h1, h2, h3, p, b, a, label, button {
  font-family: 'Concert One', cursive;
  color: var(--base);
}

button {
  padding-bottom: .5rem;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--base);
  font-size: 2rem;
  text-shadow:
      0.05em 0.05em 0 rgb(255, 171, 251);
}
