.main {
    margin-top: calc(
        calc(var(--header-height) + var(--main-margin-offset)) +
        .5rem
    );
    transition: margin 0.5s ease-in-out;
}

@media only screen and (min-width: 1300px) {
    .main {
        margin-top: calc(
            calc(var(--header-height) + 3.25rem)
        );
    }
}
