.pageContent main {
    margin-top: calc(var(--header-height) + var(--main-margin-offset));
    transition: margin 0.5s ease-in-out;
    padding: .4rem 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0)  0%,
        var(--bg-transparent) 20%
    );
}

.footer .containerSocials {
    --icon-height: 40px;

    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: .2rem;
}
.footer .containerSocials embed {
    width: var(--icon-height);
    height: var(--icon-height);
}

.footer p {
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .pageContent main {
        transition: unset;
        margin-top: calc(var(--header-height) + 5.5rem);
        border-radius: 3rem;
        padding: 2rem 0;
        margin-left: 5rem;
        margin-right: 5rem;
        border: 3px solid var(--font-highlight);
        background: var(--bg-transparent);
        padding: 1rem;
    }

    .pageContent main.removePadding {
        padding: 0;
    }

    .pageContent main.dontStick {
        margin-top: unset;
    }

    .footer .containerSocials {
        --icon-height: 60px;

        justify-content: center;
        gap: calc(var(--icon-height) * .75);
        margin-top: 1.5rem;
    }
}


@media only screen and (min-width: 1921px) {
    .footer p {
        font-size: clamp(1rem, -1.1000rem + 1.7500vw, 1.7rem);
    }
}

@media only screen and (min-width: 2560px) {
    .footer .containerSocials {
        --icon-height: 100px;

    }
}
