.containerImgModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBtn {
    position: absolute;
    z-index: 11;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
.modalBtn:focus {
    outline: none;
}

.modalBtn p {
    margin: 0;
    color: darkslategray;
}

.closeBtn {
    top: 0;
    right: .5rem;
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: none;
    border-radius: 1rem;
    padding: 0 .8rem;
}
.closeBtn p {
    margin-top: 0;
    margin-bottom: .2rem;
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--font-base);
}

.leftBtn {
    bottom: 0;
    left: 0;
}
.leftBtn p {
    margin-right: 1rem;
    margin-bottom: 30px;
}

.rightBtn {
    bottom: 0;
    right: 0;
}
.rightBtn p {
    margin-left: 1rem;
    margin-bottom: 30px;
}

.leftBtn,
.rightBtn {
    z-index: 101;
    margin: 0;
    width: 50vw;
    height: 30vw;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.leftBtn p,
.rightBtn p {
    font-weight: 800;
    font-size: 5rem;
}

.containerImg {
    position: relative;
    z-index: 12;
    transform: translateY(-.7rem);
}

.containerImg h3 {
    margin-top: 0;
    margin-bottom: .7rem;
    text-align: center;
    font-size: 1.5rem;
}

.containerImg img {
    display: block;
    max-width: 98vw;
    max-height: 75vh;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-bottom: 1rem;
}

.containerDescription h3,
.containerImg > h3 {
    color: var(--font-highlight);
}
.containerImg > h3 {
    padding-bottom: .5rem;
    font-size: 2rem;
}

.containerDescription {
    position: absolute;
    z-index: 100;
    background: rgba(20, 17, 49, 0);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: background .25s ease-in-out;
}

.containerDescription.active {
    background: rgba(20, 17, 49, 0.75);
}

.containerDescription p {
    width: 80%;
    text-align: center;
    transform: translateX(10%);
    font-size: clamp(1.75rem, 1.0723rem + 3.0120vw, 3rem);
    line-height: clamp(1.8rem, 1.0410rem + 3.3735vw, 3.2rem);
    color: rgb(238, 130, 238, 0);
    transition: color .25s ease-in-out;
}

.containerDescription.active p {
    color: rgb(238, 130, 238);
}

@media only screen and (min-width: 900px) {
    .modalBtn {
        position: relative;
        padding: 1.2rem 1.5rem;
    }

    .closeBtn {
        position: absolute;
        top: 0;
        right: 1.4rem;
        width: unset;
        height: unset;
        margin: unset;
        padding: 1.2rem 2rem;
        border-radius: .3rem;
        border: none;
        background: none;
        font-weight: 900;
        font-size: 4em;
        z-index: 12;
    }
    .closeBtn p {
        transition: color .3s ease-out;
    }
    .closeBtn:hover p {
        background: none;
        color: var(--font-highlight);
    }

    .leftBtn {
        bottom: auto;
        left: auto;
    }

    .leftBtn,
    .rightBtn {
        z-index: unset;
        border-radius: 3rem;
        border: none;
        width: 20rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1a1a1a00;
        font-size: 5rem;
    }

    .leftBtn p,
    .rightBtn p {
        color: darkslategray;
        transition: color .3s ease-out;
        margin: 0;
        transform: translateY(-25%);
    }
    .leftBtn:hover p,
    .rightBtn:hover p {
        background: #1a1a1a00;
        color: var(--font-highlight);
    }
    .btnLeft:disabled p,
    .btnRight:disabled p {
        background: #1a1a1a00;
        color: darkslategray;
    }

    .containerImgModal {
        width: 100vw;
    }

    .containerImg {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        gap: 1.5rem;
        align-items: center;
        margin-bottom: 0;
        transform: unset;
    }

    .containerImg img {
        margin-bottom: 0;
        cursor: unset;

        display: block;
        max-width: 100%;
        max-height: 90vh;
        width: auto;
        height: auto;
    }

    .containerDescription {
        z-index: unset;
        position: unset;
        width: unset;
        width: 30vw;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
    }
    .containerDescription h3 {
        font-size: 3.75rem;
    }
    .containerDescription p {
        color: var(--font-base);
        width: 100%;
        transform: unset;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 1921px) {
    .containerDescription p {
        font-size: clamp(1.5rem, -4.5000rem + 5.0000vw, 3.5rem);
        line-height: clamp(1.5rem, -4.5000rem + 5.0000vw, 3.5rem);
    }

    .containerImg h3 {
        font-size: clamp(1.5rem, -6.7500rem + 6.8750vw, 4.25rem);
    }

    .closeBtn p {
        font-size: clamp(3.5rem, -10.0000rem + 11.2500vw, 8rem);
    }

    .leftBtn p,
    .rightBtn p {
        font-size: clamp(4rem, -8.0000rem + 10.0000vw, 8rem);
    }
}

@media only screen and (min-width: 2561px) {
    .containerDescription p {
        font-size: clamp(3.5rem, -0.5000rem + 2.5000vw, 5.5rem);
        line-height: clamp(3.5rem, -0.5000rem + 2.5000vw, 5.5rem);
    }

    .containerImg h3 {
        font-size: clamp(4.25rem, 0.2500rem + 2.5000vw, 6.25rem);
    }

    .closeBtn p {
        font-size: clamp(8rem, 0.0000rem + 5.0000vw, 12rem);
    }

    .leftBtn p,
    .rightBtn p {
        font-size: clamp(8rem, -6.0000rem + 8.7500vw, 15rem);
    }
}
