.containerImgModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBtn {
    position: absolute;
    z-index: 11;
    margin: .5rem;
    padding: .8rem 1.1rem;
    background: #be87c9;
    font-size: 1.3rem;
    font-weight: 600;
    color: #1e1a3b;
    border: 2px solid #483f8d;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s ease-out;
}

.closeBtn {
    top: 0;
    right: 0;
    padding: .4rem .8rem;
}

.leftBtn {
    bottom: 0;
    left: 0;
}
.rightBtn {
    bottom: 0;
    right: 0;
}

.containerImg {
    position: relative;
    transform: translateY(-.7rem);
}

.containerImg h3 {
    margin-top: 0;
    margin-bottom: .7rem;
    text-align: center;
    font-size: 1.5rem;
}

.containerImg img {
    display: block;
    max-width: 98vw;
    max-height: 75vh;
    width: auto;
    height: auto;
    cursor: pointer;
}

.containerDescription {
    position: absolute;
    background: rgba(20, 17, 49, 0);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: background .25s ease-in-out;
}

.containerDescription.active {
    background: rgba(20, 17, 49, 0.75);
}

.containerDescription p {
    width: 80%;
    text-align: center;
    transform: translateX(10%);
    font-size: clamp(1rem, 0.8851rem + 0.5106vw, 1.5rem);
    line-height: 1.5rem;
    color: rgb(238, 130, 238, 0);
    transition: color .25s ease-in-out;
}

.containerDescription.active p {
    color: rgb(238, 130, 238);
}

@media only screen and (min-width: 900px) {
    .modalBtn {
        position: relative;
        padding: 1.2rem 1.5rem;
    }

    .closeBtn {
        position: absolute;
        top: 0;
        right: 1.4rem;
        width: unset;
        height: unset;
        margin: unset;
        padding: 1.2rem 2rem;
        border-radius: .3rem;
        border: none;
        background: none;
        color: darkslategray;
        font-weight: 900;
        font-size: 4em;
        z-index: 12;
    }
    .closeBtn:hover {
        background: none;
        color: violet;
    }

    .leftBtn {
        bottom: auto;
        left: auto;
    }

    .leftBtn,
    .rightBtn {
        border-radius: 3rem;
        border: none;
        width: 20rem;
        height: 100%;
        background: #1a1a1a00;
        color: darkslategray;
        font-size: 5rem;
    }
    .leftBtn:hover,
    .rightBtn:hover {
        background: #1a1a1a00;
        color: rgb(134, 65, 225);
    }
    .btnLeft:disabled,
    .btnRight:disabled {
        background: #1a1a1a00;
        color: darkslategray;
    }

    .containerImgModal {
        width: 100vw;
    }

    .containerImg {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 0;
        transform: unset;
    }

    .containerImg img {
        margin-bottom: 0;
        cursor: unset;

        display: block;
        max-width: 45vw;
        max-height: 90vh;
        width: auto;
        height: auto;
    }

    .containerDescription {
        position: unset;
        width: unset;
        width: 30vw;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
    }
    .containerDescription h3 {
        color: var(--highlight);
    }
    .containerDescription p {
        color: var(--base);
    }
}
