.staticContainer {
    background-image: url('/popslinger-bg.gif');
    background-repeat: repeat;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
